BOI.BOIApplications.IdentityManagement/obj
BOI.BOIApplications.IdentityManagement/bin
BOI.BOIApplications.Infrastructure/obj
BOI.BOIApplications.WorkerService/obj
BOI.BOIApplications.WorkerService/bin
BOI.BOIApplications.Persistence/obj
BOI.BOIApplications.Persistence/bin
BOI.BOIApplications.Legacy.Persistence/bin
BOI.BOIApplications.Legacy.Persistence/obj
BOI.BOIApplications.API/bin
BOI.BOIApplications.API/obj
BOI.BOIApplications.Application/obj
BOI.BOIApplications.Domain/bin
BOI.BOIApplications.Domain/obj
BOI.BOIApplications.Infrastructure/bin
BOI.BOIApplications.Application/bin
.vs

/BOI.BOIApplications.Legacy.Domain/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/BOI.BOIApplications.Legacy.Domain/obj/Debug/net6.0/BOI.BOIApplications.Legacy.Domain.AssemblyInfo.cs
/BOI.BOIApplications.Legacy.Domain/obj/Debug/net6.0/BOI.BOIApplications.Legacy.Domain.GlobalUsings.g.cs
/BOI.BOIApplications.Legacy.Domain/obj/Debug/net6.0/BOI.BOIApplications.Legacy.Domain.AssemblyInfoInputs.cache
/BOI.BOIApplications.Legacy.Domain/obj/Debug/net6.0/BOI.BOIApplications.Legacy.Domain.GeneratedMSBuildEditorConfig.editorconfig
/BOI.BOIApplications.Legacy.Domain/obj/BOI.BOIApplications.Legacy.Domain.csproj.nuget.g.targets
